<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<a href="/showInsertStudentForm">Insert</a>
<br>
<a href="/getListStudentAPI">List Json Student</a>
<br>
<a href="/showListStudent">Show List Student</a>
</body>
</html>
