<!DOCTYPE html>
<html>
  <head>
    <title>Insert Student</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vui lòng nhập đầy đủ thông tin</h1>
    <p>Nhập form sau</p>
    <form method="post" action="/insertStudent" enctype="application/x-www-form-urlencoded">
      <input name="name" placeholder="Nhập tên sinh viên ..."/>
      <input name="hoten" placeholder="Nhâp họ sinh viên...">
      <input name="number" placeholder="Nhâp sdt sinh viên...">
      <input name="address" placeholder="Nhâp địa chỉ sinh viên...">
      <input name="birthday" placeholder="Nhập ngày sinh sinh viên...">
      <button type="submit">Save</button>
    </form>
  </body>
</html>
